.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Corbel */
@font-face {
  font-family: "Corbel";
  src: url("./assets/fonts/Corbel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Corbel Bold Italic */
@font-face {
  font-family: "Corbel";
  src: url("./assets/fonts/Corbel Bold Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* Corbel Bold */
@font-face {
  font-family: "Corbel";
  src: url("./assets/fonts/Corbel Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Corbel Italic */
@font-face {
  font-family: "Corbel";
  src: url("./assets/fonts/Corbel Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 16px;
}

span {
  cursor: pointer;
}
.number {
  margin: 100px;
}
.minus,
.plus {
  width: 20px;
  height: 20px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 8px 5px 8px 5px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .hamburgerMenu {
    margin-right: 25%;
  }
}

h1 {
  color: #340068;
  font-family: Corbel;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

h2 {
  color: #340068;
  font-family: Corbel;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

form {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .form-group {
    display: flex;
    gap: 12px;
    align-items: center;

    .labelInput {
      height: 34px;
      display: inline-block;
      vertical-align: middle;
      border: none;
      width: 100%;
      border-bottom: 1px solid rgba(23, 23, 23, 0.8);
      border-radius: 0;
      text-align: left;
      font-family: Corbel;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: rgba(23, 23, 23, 0.8);
    }

    .quantityButtonsWrapper{
      display: flex;
    place-content: flex-end;
    }

    .quantityLabelWrapper {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .labelInput {
      width: 25%;
      border-bottom: none;
    }

    .fieldInput {
      height: 34px;
      display: inline-block;
      vertical-align: middle;
      border: none;
      width: 100%;
      border-bottom: 1px solid rgba(23, 23, 23, 0.8);
      border-radius: 0;
      text-align: left;
      font-family: Corbel;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: rgba(23, 23, 23, 0.8);

      &.quantityInput {
        width: 25%;
        border-bottom: none;
        text-align: center;
      }

      &.selectInput {
        appearance: none;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: auto 1em;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="2" viewBox="0 0 8 10" fill="none"><path d="M0.306992 0.305919C0.503619 0.110039 0.770267 -3.36694e-08 1.0483 -4.58225e-08C1.32633 -5.79756e-08 1.59297 0.110039 1.7896 0.305919L6.97978 5.47795L12.17 0.305919C12.3677 0.11559 12.6326 0.0102748 12.9075 0.0126552C13.1824 0.015036 13.4454 0.124922 13.6398 0.318646C13.8342 0.51237 13.9445 0.774433 13.9469 1.04839C13.9493 1.32235 13.8436 1.58628 13.6526 1.78334L7.72109 7.69408C7.52446 7.88996 7.25781 8 6.97978 8C6.70175 8 6.4351 7.88996 6.23848 7.69408L0.306993 1.78334C0.110425 1.5874 -2.91918e-07 1.32169 -3.04029e-07 1.04463C-3.16139e-07 0.767573 0.110425 0.501858 0.306992 0.305919Z" fill="purple"/></svg>');
        padding: 0.1em 1.5em 0.1em 0.4em;
      }

      &::placeholder {
        height: 34px;
        display: inline-block;
        vertical-align: middle;
        border: none;
        width: 100%;
        border-bottom: 1px solid rgba(23, 23, 23, 0.8);
        border-radius: 0;
        text-align: left;
        font-family: Corbel;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: rgba(23, 23, 23, 0.8);
      }
    }
  }


.addMoreButtonWrapper{
  margin: 40% 0;

  .addMoreButton{
    /* margin-bottom: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 20px; */

    .buttonLabel{color: rgba(23, 23, 23, 0.40);
      font-family: Corbel;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;}
  }
}

  .sellButton {
    display: flex;
    width: 320px;
    padding: 8px 116px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #340068;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color:  #fff;
    text-align: center;
    font-family: Corbel;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
